<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>hello world in Python!</title>
    <meta charset="UTF-8" />
</head>
<body>
    <h1>hello world: python!</h1>
    <p>
        <span>time: {{ time }}</span><br />
        <span>load: {{ load }}</span>
    </p>
</body>
</html>